#contenedor_listado_prestamos{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgb(220, 227, 234);
}
#prestamo{
    border: solid white 1px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
#filtro_prestamos{
    margin: 10px;
}